.App-header nav ul {
  list-style-type: none;
  padding: 0;
}

.App-header nav ul li {
  display: inline;
  margin-right: 10px;
}

.App-header nav ul li a {
  color: #61dafb;
  text-decoration: none;
}

.App-header nav ul li a:hover {
  text-decoration: underline;
}
